@using OverTheBoard.Data.Entities
@model OverTheBoard.WebUI.Models.BracketsViewModel
@{
    int i = 1;
    ViewData["Title"] = "Brackets";
}
<br />
<br />
<br />
<br />
<div class="gtco-container">
    <div class="row row-pb-md">
        @foreach (var round in Model.Items)
        {
            <div class="col-md-12 col-sm-12 service-header">
                <div>
                    <h2>Round @round.Key</h2>
                </div>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            @foreach (var game in round.Value.Games)
            {
                <partial name="Brackets/BracketsGame" model="@game" />
            }

        }
    </div>
</div>