@{
    int i = 1;
    ViewData["Title"] = "Brackets";
}

<div class="gtco-container">
    <table class="tg center-table">
        <thead>
        <tr>
            <th class="tg-0pky">Round Number</th>
            @for (var j = 1; j <= 4; j++)
            {
                <th class="tg-0pky">Game @j</th>
            }
        </tr>
        </thead>
        <tbody>
        @for(var j = 1; j <= 9; j++) { 
            <tr>
                <td class="tg-0pky"><span>@j</span></td>
                <td class="tg-0pky"><a href="#">Open Game</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>


