<header id="gtco-header" class="gtco-cover" role="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center margin-top-300">
                    <h3>
                        Timer
                    </h3>
                </div>
            </div>
            <div class="col-md-6">
                <div id="myBoard" class="boardgame-size-and-position"></div>
                <label>Status:</label>
                <div id="status"></div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 ">
                        <div>
                            <h3>
                                Player One
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-top-300">
                        <label>PGN:</label>
                        <div id="pgn" style="height:50px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-top-300">
                        <h3>
                            Player Two
                        </h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

@section scripts {
    <!--Chessboard.js-->

    <script src="~/lib/chessboard/js/chessboard-1.0.0.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <!--Chess.js-->
    <script src="~/lib/chess/chess.js"></script>

    <!--Game.js-->
    <script src="~/js/game.js"></script>
    <script src="~/js/chessmove.js"></script>
}

@section styles{
    <!-- Chessboard.js-->
    <link rel="stylesheet" href="~/lib/chessboard/css/chessboard-1.0.0.css">

}