@using OverTheBoard.WebUI.Extensions
@model OverTheBoard.WebUI.Models.GameViewModel

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center margin-top-300">
                    <label>Status:</label>
                    <div id="status"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="myBoard" class="boardgame-size-and-position"></div>
                
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 ">
                        <br />
                        <div>

                            <div class="text-center">
                                <h3>
                                    @Model.OpponentDisplayName
                                </h3>
                                <div id='player1clock'>0</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-top-300">
                        <div id="gameTimer" style="width:50px;">
                        </div>
                        <label>PGN:</label>
                        <div id="pgnNOTHERE" class="pgn-height-50"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-top-300">

                        <div class="text-center">
                            <h3>@Model.CurrentDisplayName</h3>
                            <div id='player2clock'>0</div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="checkConnection" data-instance-id="@Url.GetRoute("gameId")" data-type="@Url.GetRoute("type")">
        <div class="loading"></div>
        <div class="loading-text">Waiting for player to join... </div>
    </div>


@section scripts {
    <!--Chessboard.js-->

    <script src="~/lib/chessboard/js/chessboard-1.0.0.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <!--Chess.js-->
    <script src="~/lib/chess/chess.js"></script>

    <!--Game.js-->
    <script src="~/js/game.js"></script>
    <script src="~/js/chessmove.js"></script>
    <script src="~/js/gameTimer.js"></script>
}

@section styles{
    <!-- Chessboard.js-->
    <link rel="stylesheet" href="~/lib/chessboard/css/chessboard-1.0.0.css">
    <link href="~/css/style-game.css" rel="stylesheet" />

}