@using OverTheBoard.WebUI.Extensions
@model OverTheBoard.WebUI.Models.GameViewModel

<header id="gtco-header" class="gtco-cover" role="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center margin-top-300">
                    <h3>
                        <div id="gameTimer" style="width:50px;">
                            <div id='info' class='hidden'>-</div>
                            
                            
                        </div>
                    </h3>
                </div>
            </div>
            <div class="col-md-6">
                <div id="myBoard" class="boardgame-size-and-position"></div>
                <label>Status:</label>
                <div id="status"></div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 ">
                        <br />
                        <div>
                            <h3>
                                @Model.OpponentDisplayName
                                <div id='player2clock'>0</div>
                                
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-top-300">
                        <label>PGN:</label>
                        <div id="pgn" class="pgn-height-50"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-top-300">
                        <h3>
                            @Model.CurrentDisplayName
                            <div id='player1clock'>0</div>
                        </h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="checkConnection" data-instance-id="@Url.GetRoute("gameId")" data-type="@Url.GetRoute("type")">
        <div class="loading"></div>
        <div class="loading-text">Waiting for player to join... </div>
    </div>
</header>

@section scripts {
    <!--Chessboard.js-->

    <script src="~/lib/chessboard/js/chessboard-1.0.0.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <!--Chess.js-->
    <script src="~/lib/chess/chess.js"></script>

    <!--Game.js-->
    <script src="~/js/game.js"></script>
    <script src="~/js/chessmove.js"></script>
    <script src="~/js/gameTimer.js"></script>

    <script>
        $(document).ready(function () {

            $('#white').click(function () {
               
            });
            $('#black').click(function () {
                
            });

            $('#checkConnection').gameTimer({
                initial_time: 9000,
                player1css: 'player1clock',
                player2css: 'player2clock'
            });
        });
    </script>
}

@section styles{
    <!-- Chessboard.js-->
    <link rel="stylesheet" href="~/lib/chessboard/css/chessboard-1.0.0.css">
    <link href="~/css/style-game.css" rel="stylesheet" />

}