@{
    Layout = "_LayoutGame";
}

<header id="gtco-header" class="gtco-cover" role="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center margin-top-300">
                    <h3>
                        Timer
                    </h3>
                </div>
            </div>
            <div class="col-md-6">
                <!--Placeholder for the chess game-->
                @*<img src="/images/cube-large.png" class="img-responsive boardgame-size-and-position" alt="Chess pic">*@
                <div id="myBoard" class="boardgame-size-and-position"></div>
                <label>Status:</label>
                <div id="status"></div>
                @*<label>FEN:</label>
            <div id="fen"></div>*@

            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 ">
                        <div >
                            <h3>
                                Player One
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-top-300">
                        <label>PGN:</label>
                        <div id="pgn"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-top-300">
                        <h3>
                            Player Two
                        </h3>
                    </div>
                    
                </div>
            </div>
            @*<div class="col-md-3">
            <div class="margin-top-300 ">
                <h3>
                    Player One
                </h3>
            </div>
            <label>PGN:</label>
            <div id="pgn"></div>
            <h3>
                Player Two
            </h3>
        </div>*@
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/chessboard/js/chessboard-1.0.0.js"></script>
    <script src="~/js/game.js"></script>
</header>

