@{
    ViewData["Title"] = "Index";
}


<header id="gtco-header" class="gtco-cover" role="banner">
    <div class="text-center center-play-index">
        <!--Shows Players Ranks currently there is a temp msg-->
        <h3>RANK</h3>
        <a href="#" id="btnQueue" class="btn btn-white" type="button"> Play Chess </a><br />
        <div id="divProgress" style="display: none;">
            <div class="loading"></div>
            <div class="loading-text">Waiting for player to join... </div>
        </div>
        <a asp-controller="Play" asp-action="Brackets" class="btn btn-white" type="button">League Games</a>
    </div>

</header>

@section scripts {

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/queue.js"></script>

}

@section styles{
    <link href="~/css/style-game.css" rel="stylesheet" />
}
