@model OverTheBoard.WebUI.Models.PlayViewModel
@{
    int i = 1;
    ViewData["Title"] = "Index";
}


<div class="text-center center-play-index">
    <!--Shows Players Ranks currently there is a temp msg-->
    <h3>RANK</h3>
    <a href="#" id="btnQueue" class="btn btn-white" type="button"> Play Chess </a><br />
    <div id="divProgress" style="display: none;">
        <div class="loader-wrapper">
            <div class="loader-box"></div>
            <div class="loader-box-text">Waiting for player to join... </div>
        </div>
    </div>
    <a asp-controller="Play" asp-action="Brackets" class="btn btn-white" type="button">League Games</a>
</div>
@if (Model.gameInProgress.Count > 0)
{
<table class="tg center-table">
    <thead>
        <tr>
            <th class="tg-0pky">Game Number</th>
            <th class="tg-0pky">White</th>
            <th class="tg-0pky">Black</th>
            <th class="tg-0pky">Game Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model.gameInProgress)
        {
                <tr>
                    <td class="tg-0pky"><span>@(i++)</span></td>
                    <td class="tg-0pky">@game.WhiteUser<br></td>
                    <td class="tg-0pky">@game.BlackUser</td>
                    <td class="tg-0pky"><a href="https://localhost:44305/play/game/@game.Identifier">Open Game</a></td>
                </tr>
        }
        

    </tbody>
</table>}

@section scripts {

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/queue.js"></script>

}

@section styles{
    <link href="~/css/style-game.css" rel="stylesheet" />
}
