@{
    Layout = "_LayoutMaster";
}

<div>
    <div class="gtco-loader"></div>
    <div id="page">

        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">

                <div class="row">
                    <div class="col-sm-2 col-xs-12">
                        <div><a asp-controller="Home" asp-action="Index"><img src="/images/logo.png" alt="OverTheBoard Logo"></a><a class="text-white-important" asp-controller="Home" asp-action="Index">&nbsp;&nbsp;<strong>OverTheBoard</strong></a></div>
                    </div>
                </div>

            </div>
        </nav>
        @RenderBody()
        <footer id="gtco-footer" class="gtco-section" role="contentinfo">
            <div class="gtco-container">
                <div class="row row-pb-md">
                    <div class="col-md-8 col-md-offset-2 gtco-cta text-center">
                        <h3>OverTheBoard</h3>
                        <p>Chess is regarded as a highly competitive game for people to get into, hence why OTB was created to give players a sense of the competitive nature of the game. To make the jump from standard chess to OTB easier, tournament systems have been added in. Also, leagues gives players a clear understanding of one’s skills and the tournament systems allows for more competitive gameplay, since players have to beat others to get to the top! Make sure to have fun and of course, destroy everyone in chess!</p>
                    </div>
                </div>

            </div>
            <div class="gtco-copyright">
                <div class="gtco-container">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <p><small>&copy; Annoor Mustafi </small></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</div>


@section scripts {
    @RenderSection("scripts", false)
}

@section styles{
    @RenderSection("styles", false)
}

