@{
    Layout = "_LayoutMaster";
}

<div>
    <div class="gtco-loader"></div>
    <div id="page">
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">

                <div class="row">
                    <div class="col-sm-2 col-xs-12">
                        <div><a asp-controller="Dashboard" asp-action="Index"><img src="/images/logo.png" alt="OverTheBoard Logo"></a><a class="text-white-important" asp-controller="Dashboard" asp-action="Index">&nbsp;&nbsp;<strong>OverTheBoard</strong></a></div>
                    </div>
                    <div class="col-lg-10 text-xl-left menu-1">
                        <ul>
                            <li><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Play" asp-action="Index">Play</a></li>
                            <li><a asp-controller="Dashboard" asp-action="Leaderboard">Leaderboard</a></li>
                            <li><a asp-controller="Dashboard" asp-action="GameHistory">Analysis</a></li>
                            <li><a asp-controller="Dashboard" asp-action="Settings">Settings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        @RenderBody()
        <footer id="gtco-footer-no-padding" class="gtco-section" role="contentinfo">
            <div class="gtco-copyright">
                <div class="gtco-container">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <p><small>&copy; Annoor Mustafi </small></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


@section scripts {
    @RenderSection("scripts", false)
}

@section styles{
    @RenderSection("styles", false)
}
