@{
    Layout = "_LayoutMaster";
}

<div>
    <div class="gtco-loader"></div>
    <div id="page">

        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">

                <div class="row">
                    <div class="col-sm-2 col-xs-12">
                        <div><a asp-controller="Home" asp-action="Index"><img src="/images/logo.png" alt="OverTheBoard Logo"></a><a class="text-white-important" asp-controller="Home" asp-action="Index">&nbsp;&nbsp;<strong>OverTheBoard</strong></a></div>
                    </div>
                </div>

            </div>
        </nav>
        @RenderBody()
        <footer id="gtco-footer" class="gtco-section" role="contentinfo">
            <div class="gtco-container">
                <div class="row row-pb-md">
                    <div class="col-md-8 col-md-offset-2 gtco-cta text-center">
                        <h3>OverTheBoard</h3>
                        <p>Chess is a highly competitive area for people to get into, hence OTB has been made in order to give you the feel of the very competitive experience of Chess with some normal game like tournement systems to make the jump easier.</p>
                    </div>
                </div>

            </div>
            <div class="gtco-copyright">
                <div class="gtco-container">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <p><small>&copy; Annoor Mustafi </small></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</div>


@section scripts {
    @RenderSection("scripts", false)
}

@section styles{
    @RenderSection("styles", false)
}

