@{
    Layout = "_LayoutMaster";
}

<div>
    <div class="gtco-loader"></div>
    <div id="page" class="gtco-background">
        <nav class="gtco-nav device-only" role="navigation">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-xs-10 text-right menu-1">
                        <ul>
                            <li><a href="/">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-left">
                    <div class="display-t reg-top-padding">
                        <div class="display-tc">
                            <div class="row reg-top-padding">
                                <div class="text-center"><a asp-controller="Home" asp-action="Index"><img src="/images/logo.png" alt="OverTheBoard Logo"></a></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-center header-img animate-box"></div>
                                <div class="col-md-4 rounded">
                                    @RenderBody()
                                </div>
                                <div class="col-md-4 text-center header-img animate-box"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    @RenderSection("scripts", false)
}

@section styles{
    @RenderSection("styles", false)
}
