@{
    Layout = "_Layout";
}


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center margin-top-300">
                    <h3>
                        Timer
                    </h3>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/images/cube-large.png" class="img-responsive boardgame-size-and-position" alt="Chess pic">
            </div>
            <div class="col-md-3">
                <div class="margin-top-300 ">
                    <h3>
                        Player One
                    </h3>
                </div>
                <ol>
                    <li class="list-item">
                        Move 1
                    </li>
                    <li class="list-item">
                        Move 2
                    </li>
                    <li class="list-item">
                        Move 3
                    </li>
                    <li class="list-item">
                        Move 4
                    </li>
                    <li class="list-item">
                        Move 5
                    </li>

                </ol>
                <h3>
                    Player Two
                </h3>
            </div>
        </div>
    </div>
