@model OverTheBoard.WebUI.Models.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 small-pfp-correct-position">
            <img class="small-pfp" src="~/uploads/DisplayImages/@Model.DisplayImagePath" />
        </div>
        <div class="col-md-5">
            <br />
            <br />
            <h3 class="text-center" style="">
                @Model.DisplayName @Model.Rating
            </h3>
            <hr />
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4 big-pfp-correct-position">
            <img class="big-pfp" src="~/uploads/DisplayImages/@Model.DisplayImagePath" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <!--This would be the place where the ELO rating graph of the user is outputted, the image is just a placeholder for the graph-->
        <!--Graph can be made using html and jquery-->
        <div class="col-md-5 padding-100">
            <div id="curve_chart" class="curve-chart"></div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="text-center center-button-on-dashboard">
                <a asp-controller="Play" asp-action="Index" class="btn btn-white btn-block" type="button">Play</a> <br />
                <a asp-controller="Dashboard" asp-action="Leaderboard" class="btn btn-white btn-block " type="button">Leaderboard</a><br />
                <a asp-controller="Dashboard" asp-action="GameHistory" class="btn btn-white btn-block" type="button">Analysis</a><br />
            </div>
        </div>
    </div>
</div>

@section scripts {
    @if (!string.IsNullOrEmpty(Model.Charts))
    {
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable(@Html.Raw(Model.Charts));

                var options = {
                    title: 'Rating Earned',
                    curveType: 'function',
                    legend: { position: 'bottom' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);
            }
        </script>
    }
    
}
