@model OverTheBoard.WebUI.Models.LeaderboardViewModel
@{
    Layout = "_Layout";
}

<header id="gtco-header" class="gtco-cover" role="banner">
    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

            .tg td {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
            }

            .tg th {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
            }

            .tg .tg-0pky {
                border-color: inherit;
                text-align: left;
                vertical-align: top
            }
    </style>
    <div class="">
        <table class="tg center-table">
            <thead>
                <tr>
                    <th class="tg-0pky">Rank</th>
                    <th class="tg-0pky">Diamond</th>
                    <th class="tg-0pky">Gold</th>
                    <th class="tg-0pky">Silver</th>
                    <th class="tg-0pky">Bronze</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tg-0pky">1</td>
                    <td class="tg-0pky">PlaceholderUser<br></td>
                    <td class="tg-0pky">PlaceholderUser</td>
                    <td class="tg-0pky">PlaceholderUser</td>
                    <td class="tg-0pky">PlaceholderUser</td>
                </tr>
                <tr>
                    <td class="tg-0pky">2<br></td>
                    <td class="tg-0pky">PlaceholderUser</td>
                    <td class="tg-0pky">PlaceholderUser</td>
                    <td class="tg-0pky">PlaceholderUser</td>
                    <td class="tg-0pky">PlaceholderUser</td>
                </tr>
                <tr>
                    <td class="tg-0pky">3</td>
                    <td class="tg-0pky">PlaceholderUser</td>
                    <td class="tg-0pky">PlaceholderUser</td>
                    <td class="tg-0pky">PlaceholderUser</td>
                    <td class="tg-0pky">PlaceholderUser</td>
                </tr>
            </tbody>
        </table>
    </div>
</header>
