@model OverTheBoard.WebUI.Models.SettingsViewModel
@{
    ViewData["Title"] = "Settings";
    Layout = "_Layout";
}

<header id="gtco-header" class="gtco-cover" role="banner">
    <div class="gtco-container" >
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <h2 class="h3 mb-4 page-title">Settings</h2>
                <div class="my-4">
                    <form method="post" enctype="multipart/form-data">
                        <div class="row mt-5 align-items-center">
                            <div class="col-md-3 text-center mb-5">
                                <div class="avatar avatar-xl">
                                    <label for="image">
                                        <img id="OriginalDisplayImage" src="~/uploads/DisplayImages/@Model.DisplayImagePath" class="avatar-img" />
                                        <img id="output" class="avatar-img" />
                                        <input type="file" name="file" accept="image/x-png,image/gif,image/jpeg" onchange="loadFileOnUploadImage(event)" />
                                        <span asp-validation-for="DisplayImagePath"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col align-items-center text-center">
                                <div id="selectText" onclick="copyData(selectText)" class="displayName clickable"><h1>@Model.DisplayName#@Model.DisplayNameId</h1></div>
                                <label>@Model.Email</label>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <div class="form-group">
                            <label asp-for="DisplayName">Username</label>
                            <input asp-for="DisplayName" type="text" class="form-control" placeholder="@Model.DisplayName" />
                            <span asp-validation-for="DisplayName"></span>
                        </div>
                        <hr class="my-4" />
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="OldPassword">Old Password</label>
                                    <input asp-for="OldPassword" type="password" class="form-control" id="inputPassword5" />
                                    <span asp-validation-for="OldPassword"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NewPassword">New Password</label>
                                    <input asp-for="NewPassword" type="password" class="form-control" id="inputPassword5" />
                                    <span asp-validation-for="NewPassword"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmNewPassword">Confirm Password</label>
                                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" id="inputPassword6" />
                                    <span asp-validation-for="ConfirmNewPassword"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-2">Password requirements</p>
                                <div class="text-info">
                                    To make a new password the password must:
                                    <ul class="list-group-horizontal">
                                        <li>be at least 8 characters</li>
                                        <li>be a mixture of upper and lower case</li>
                                        <li>contain a special character (like, ! £ # or &amp;)</li>
                                        <li>not include commonly used passwords</li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <br>
                                    <button type="submit" class="btn btn-white btn-block">Save all changes</button>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                    </form>
                    <p><a asp-controller="Account" asp-action="Logout" class="btn btn-white btn-block">Logout</a></p>
                </div>
            </div>
        </div>

    </div>

    <script>
        var loadFileOnUploadImage = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
            var originalImage = document.getElementById('OriginalDisplayImage');
            originalImage.style.display = "none";
        };

        function copyData(containerid) {
            var range = document.createRange();
            range.selectNode(containerid);
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            document.execCommand("copy");
            window.getSelection().removeAllRanges();
        }
    </script>
</header>
