@model OverTheBoard.WebUI.Models.SettingsViewModel
@{
    ViewData["Title"] = "Settings";
    Layout = "_Layout";
}

<header id="gtco-header" class="gtco-cover" role="banner">
    <div class="gtco-container">
        <h1>@ViewData["Title"]</h1>
        <p>This is a Settings page</p>
        <a asp-controller="Account" asp-action="Logout">Logout</a>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="DisplayImagePath">Profile Picture</label>
                <img src="~/uploads/DisplayImages/@Model.DisplayImagePath" />
                <input type="file" name="file" />
                <span asp-validation-for="DisplayImagePath"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-white btn-block">Save</button>
            </div>
        </form>
    </div>
</header>
