@{
    ViewData["Title"] = "Verification Email";
    Layout = "_LayoutAccount";
}


<h1 class="text-center">OverTheBoard</h1>
<p>Your Email Has been verified please click the button to login</p>
<form method="post">

    <div class="form-group center-block">
        <a type="submit" class="btn btn-white center-button-form" asp-controller="Account" asp-action="Login">Login</a>
    </div>


</form>