@{
    ViewData["Title"] = "Email Sent";
    Layout = "_LayoutAccount";
}
<h1 class="text-center">OverTheBoard</h1>
<p>Email has been sent. Check your inbox and junk. It may take a couple minutes</p>
<form method="post">
    <div class="form-group center-block">
        <a type="submit" class="btn btn-white center-button-form" asp-controller="Account" asp-action="Login">Login</a>
    </div>
</form>