@model OverTheBoard.WebUI.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LayoutAccount";
}


<h1 class="text-center">OverTheBoard</h1>
<p>Please enter your email address to send password reset link</p>
<form method="post">
    <div class="form-group">
        <label asp-for="EmailAddress">Email address</label>
        <input asp-for="EmailAddress" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" />
        <span asp-validation-for="EmailAddress"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-white btn-block">Resend Email</button>
    </div>
</form>