@model OverTheBoard.WebUI.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LayoutAccount";
}


<h1 class="text-center">OverTheBoard</h1>
<p>The registration has been successful, an email has been sent to you for you to verify your account. You may also click the button to redirect you to login page</p>

<form method="post">
    <div class="form-group">
        <label class="govuk-label" asp-for="Password">
            Create new password
        </label>
        <div class="text-info">
            Your password must:
            <ul class="list-group-horizontal">
                <li>be at least 8 characters</li>
                <li>be a mixture of upper and lower case</li>
                <li>contain a special character (like, ! £ # or &amp;)</li>
                <li>not include commonly used passwords</li>
            </ul>
        </div>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm your password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm your password">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <input type="hidden" asp-for="EmailAddress" class="form-control" />
    <input type="hidden" asp-for="Token" class="form-control" />
    <div class="form-group">
        <button type="submit" class="btn btn-white btn-block">Reset Password</button>
    </div>
</form>