@{
    ViewData["Title"] = "Success";
    Layout = "_LayoutAccount";
}


<h1 class="text-center">OverTheBoard</h1>
<p>The registration has been successful, an email has been sent to you for you to verify your account. You may also click the button to redirect you to login page</p>
<form method="post">
    
    <div class="form-group center-block">
        <a type="submit" class="btn btn-white center-button-form" asp-controller="Account" asp-action="Login">Login</a>
    </div>


</form>