@{
    ViewData["Title"] = "Verify";
    Layout = "_LayoutAccount";
}


<h1 class="text-center">OverTheBoard</h1>
<p>VERIFY</p>
<form method="post">
    
    <div class="form-group center-block">
        <a type="submit" class="btn btn-white center-button-form" asp-controller="Account" asp-action="Login">Login</a>
    </div>


</form>