@model OverTheBoard.WebUI.Models.VerifyEmailMsgViewModel

@{
    ViewData["Title"] = "Verify Msg";
    Layout = "_LayoutAccount";
}


<h1 class="text-center">OverTheBoard</h1>
<p>This account does not have an email which has been verified, please verify the email before trying to login. @Model.EmailAddress</p>
<form method="post">
    <input type="hidden" asp-for="EmailAddress" class="form-control" />
    <div class="form-group">
        <button type="submit" class="btn btn-white btn-block">Resend Email</button>
    </div>
</form>