@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}
<header id="gtco-header" class="gtco-cover" role="banner">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="display-t no-top-padding">
                    <div class="display-tc no-top-padding">
                        <div class="row">
                            <div class="col-md-7 text-center header-img animate-box">
                                <div class="img-responsive" id="myBoard"></div>
                            </div>
                            <div class="col-md-5 copy animate-box">
                                <h1>OverTheBoard</h1>
                                <p>League Chess for the best in you - play in tournaments to get your rank, improve your chess skills and dominate the board!</p>
                                <div class="text-center">
                                    <p><a asp-controller="Account" asp-action="Login" class="btn btn-white btn-block">Login</a></p>
                                    <p><a asp-controller="Account" asp-action="Register" class="btn btn-white btn-block">Register</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

@section scripts {
    <script src="https://unpkg.com/@@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js" integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD" crossorigin="anonymous"></script>
    <script>
        var config = {
            pieceTheme: '/img/chesspieces/merida/{piece}.svg',
            position: 'start'
        }
        var board = Chessboard('myBoard', config)
    </script>

}

@section styles{
    <!-- Chessboard.js-->
    <link rel="stylesheet" href="~/lib/chessboard/css/chessboard-1.0.0.css">
}