@{
    ViewData["Title"] = "Temp";
    Layout = "_Layout";
}

    <p><a href="examples#1000">&larr; Back to all examples.</a></p>

    <p>Chessboard.js initializes to an empty board with no second argument.</p>

    <!--- Begin Example HTML ------------------------------------------------------>
    <div id="myBoard" style="width: 400px"></div>
    <!--- End Example HTML -------------------------------------------------------->

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/chessboard/js/chessboard-1.0.0.js"></script>
    <script>
        // --- Begin Example JS --------------------------------------------------------
        var board = Chessboard('myBoard')
        // --- End Example JS ----------------------------------------------------------
    </script>

