@{
    ViewData["Title"] = "Temp";
    Layout = "_Layout";
}




<header id="gtco-header" class="gtco-cover" role="banner">
    <div class="gtco-container">
        <h1>@ViewData["Title"]</h1>
        <p>This is a temporary page</p>
    </div>
</header>
